@import "vars";
@import "fonts";
@import "animations";

.page-main {
  padding: 167px 0px 65px 0px;
  position: relative;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 61, 0.9);
    z-index: -1;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 79px 0px 88px;
    column-gap: 52px;
    @media (max-width: 1110px) {
      & {
        padding: 0 20px;
        flex-wrap: wrap;
        row-gap: 30px;
        justify-content: center;
      }
    }
    @media (max-width: 520px) {
      & {
        padding: 0;
      }
    }
  }

  &__title {
    max-width: 470px;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: $white;
    line-height: 116.67%;
    margin: 0px 0px 14px 0px;
    span {
      display: block;
      font-weight: 700;
      color: $accent;
      font-size: 24px;
      line-height: 116.67%;
    }
    @media (max-width: 550px) {
      & {
        font-size: 25px;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
    column-gap: 30px;
    @media (max-width: 768px) {
      & {
        display: none;
      }
    }
  }

  &__item {
    padding: 0 10px;
    margin: 0 -10px;
    flex: 0 0 33.333%;
    color: $white;
  }

  &__icon {
    margin: 0px 0px 25px 0px;
  }

  &__decr {
    font-size: 14px;
    line-height: 129%;
  }
  &__bg_1 {
    img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 63.49%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }
    @media (max-width: 1100px) {
      & > img {
        width: 100%;
      }
    }
  }
  &__bg_2 {
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 36.51%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }
    @media (max-width: 1100px) {
      & {
        display: none;
      }
    }
  }
  @media (max-width: 1252px) {
    & {
      padding: 200px 0px 65px 0px;
    }
  }
  @media (max-width: 400px) {
    & {
      padding: 235px 0px 65px 0px;
    }
  }
}
.body-page-main {
  &__column:last-child {
    position: relative;
    max-width: 406px;
    width: 100%;
    background-color: $white;
    padding: 43px 43px 67px 40px;
    border-radius: 10px;
    &::after {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: -10px;
      width: 0px;
      height: 75px;
      background: url("../img/main-page/roulette-full.png") 0 0 no-repeat;
      animation: roullete 1.5s ease-out 1.5s 1 forwards;
      z-index: 1;
      @media (max-width: 620px) {
        & {
          display: none;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -7px;
      width: 115px;
      height: 74px;
      background: url("../img/main-page/roulette.png") 0 0 no-repeat;
      z-index: 3;
      animation: roullete-transform 1.5s ease-out 1.5s 1 forwards;
      @media (max-width: 620px) {
        & {
          display: none;
        }
      }
    }
    @media (max-width: 520px) {
      & {
        max-width: unset;
        flex: 1 0 100%;
        overflow: hidden;
        padding: 43px 20px 80px;
        border-radius: 0px;
      }
      &::before {
        display: none;
        animation: none;
      }
      &::after {
        left: unset;
        right: 0;
      }
    }
  }
}
.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 116.67%;
    color: $blue-title;
    margin: 0px 0px 27px 0px;
  }

  &__name,
  &__phone,
  &__mail {
    width: 100%;
    background-color: #e2e2e2;
    padding: 12px 16px;
    border-radius: 3px;
    &::placeholder {
      font-size: 14px;
      line-height: 114.29%;
      color: rgb(66, 66, 104);
    }
  }

  &__name:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }

  &__phone:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }

  &__mail:not(:last-child) {
    margin: 0px 0px 13px 0px;
  }

  &__custom-checkbox {
    position: relative;
    &:not(:last-child) {
      margin: 0px 0px 19px 0px;
    }
  }
  &__submit {
    background-color: $accent;
    font-size: 14px;
    line-height: 114.29%;
    padding: 19px 40px;
    @media (max-width: 520px) {
      padding: 13px 20px;
    }
  }
}

.checkbox {
  &__input {
    appearance: none;
    position: absolute;
  }
  &__label {
    span {
      display: inline-block;
      padding: 0px 0px 0px 35px;
      font-size: 12px;
      line-height: 116.67%;
      color: $black;
      & > a {
        color: rgb(75, 103, 175);
      }
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 25px;
      height: 25px;
      background: #e2e2e2;
      border-radius: 3px;
      z-index: 1;
      cursor: pointer;
    }
    &::after {
      content: "";
      display: block;
      width: 23px;
      height: 24px;
      position: absolute;
      top: -3px;
      left: 4.5px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease 0s;
      background: url("../img/main-page/check.svg") 0px 0px no-repeat;
      z-index: 2;
    }
  }

  &__input:checked + .checkbox__label::after {
    opacity: 1;
    visibility: visible;
  }
}
